.comment-input, .cw_list .cw_l-line {
    position: relative;
    margin: 0.75rem 0;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.comment-input .user-avatar, .cw_list .cw_l-line .user-avatar {
    left: 0;
    top: 0;
    width: 40px;
    padding-bottom: 40px;
}

.user-avatar {
    display: inline-block;
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.user-avatar .user-avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-avatar .user-avatar-img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

img {
    vertical-align: middle;
    border-style: none;
}	

.ci-form, .info, .replies {
    width: calc(100% - 55px);
    float: right;
}
.comment-input .user-name {
    margin-bottom: 0.75rem;
}

.link-highlight {
    font-weight: 600;
    color: #dbd559;
}

.comment-input .preform textarea.form-control {
    resize: none;
    box-shadow: none!important;
    height: 65px;
    padding: 0.5rem 0.75rem!important;
    line-height: 1.2;
    border: 1px solid #ccc!important;
    background: #f2f2f2!important;
    font-size: 14px;
    border-radius: 0.25rem;
}

.comment-input .ci-buttons {
    margin-top: 0.5rem;
}

.comment-input .ci-buttons .cb-li, .comment-input .ci-buttons .ci-b-left {
    float: left;
}

.comment-input .ci-buttons .ci-b-right {
    float: right;
}

.comment-input .ci-buttons .cb-li, .comment-input .ci-buttons .ci-b-left {
    float: left;
}

.comment-input .ci-buttons .ci-b-right .btn-secondary {
    background: 0 0!important;
    border: unset;
    font-weight: 600;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-group-sm>.btn, .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.ci-form, .info, .replies {
    width: calc(100% - 55px);
    float: right;
}

.ci-form, .info, .replies {
    width: calc(100% - 55px);
    float: right;
}	
.cw_l-line .ihead {
    display: block;
    margin-bottom: 3px;
}

.cw_l-line .ihead>div.user-name {
    font-weight: 600;
    color: #fefefe;
}

.cw_l-line .ihead>div {
    display: inline;
}

.cw_l-line .ihead>div.time {
    font-size: .9em;
    color: #666;
    margin-left: 15px;
}

.cw_l-line .ihead>div {
    display: inline;
}

.cw_l-line .ibottom .ib-li {
    display: inline;
    margin-right: 1rem;
    position: relative;
}
.comment-input a {
    color: #ddd!important;
}