<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>movie_prj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>controller.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>controller.movie.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/MovieServlet</url-pattern>
    <url-pattern>/movie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryServlet</display-name>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>controller.category.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/AddCategoryServlet</url-pattern>
    <url-pattern>/addCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>controller.category.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCategoryServlet</display-name>
    <servlet-name>EditCategoryServlet</servlet-name>
    <servlet-class>controller.category.EditCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCategoryServlet</servlet-name>
    <url-pattern>/EditCategoryServlet</url-pattern>
    <url-pattern>/editCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCategoryServlet</display-name>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>controller.category.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/DeleteCategoryServlet</url-pattern>
    <url-pattern>/deleteCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegionServlet</display-name>
    <servlet-name>RegionServlet</servlet-name>
    <servlet-class>controller.region.RegionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegionServlet</servlet-name>
    <url-pattern>/RegionServlet</url-pattern>
    <url-pattern>/region</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRegionServlet</display-name>
    <servlet-name>AddRegionServlet</servlet-name>
    <servlet-class>controller.region.AddRegionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRegionServlet</servlet-name>
    <url-pattern>/AddRegionServlet</url-pattern>
    <url-pattern>/addRegion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRegionServlet</display-name>
    <servlet-name>DeleteRegionServlet</servlet-name>
    <servlet-class>controller.region.DeleteRegionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRegionServlet</servlet-name>
    <url-pattern>/DeleteRegionServlet</url-pattern>
    <url-pattern>/deleteRegion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRegionServlet</display-name>
    <servlet-name>EditRegionServlet</servlet-name>
    <servlet-class>controller.region.EditRegionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRegionServlet</servlet-name>
    <url-pattern>/EditRegionServlet</url-pattern>
    <url-pattern>/editRegion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActorServlet</display-name>
    <servlet-name>ActorServlet</servlet-name>
    <servlet-class>controller.actor.ActorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActorServlet</servlet-name>
    <url-pattern>/ActorServlet</url-pattern>
    <url-pattern>/actor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddActorServlet</display-name>
    <servlet-name>AddActorServlet</servlet-name>
    <servlet-class>controller.actor.AddActorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddActorServlet</servlet-name>
    <url-pattern>/AddActorServlet</url-pattern>
    <url-pattern>/addActor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditActorServlet</display-name>
    <servlet-name>EditActorServlet</servlet-name>
    <servlet-class>controller.actor.EditActorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditActorServlet</servlet-name>
    <url-pattern>/EditActorServlet</url-pattern>
    <url-pattern>/editActor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteActorServlet</display-name>
    <servlet-name>DeleteActorServlet</servlet-name>
    <servlet-class>controller.actor.DeleteActorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteActorServlet</servlet-name>
    <url-pattern>/DeleteActorServlet</url-pattern>
    <url-pattern>/deleteActor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectorServlet</display-name>
    <servlet-name>DirectorServlet</servlet-name>
    <servlet-class>controller.director.DirectorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectorServlet</servlet-name>
    <url-pattern>/DirectorServlet</url-pattern>
    <url-pattern>/director</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDirectorServlet</display-name>
    <servlet-name>AddDirectorServlet</servlet-name>
    <servlet-class>controller.director.AddDirectorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDirectorServlet</servlet-name>
    <url-pattern>/AddDirectorServlet</url-pattern>
    <url-pattern>/addDirector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditDirectorServlet</display-name>
    <servlet-name>EditDirectorServlet</servlet-name>
    <servlet-class>controller.director.EditDirectorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDirectorServlet</servlet-name>
    <url-pattern>/EditDirectorServlet</url-pattern>
    <url-pattern>/editDirector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDirectorSerlvet</display-name>
    <servlet-name>DeleteDirectorSerlvet</servlet-name>
    <servlet-class>controller.director.DeleteDirectorSerlvet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDirectorSerlvet</servlet-name>
    <url-pattern>/DeleteDirectorSerlvet</url-pattern>
    <url-pattern>/deleteDirector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudioServlet</display-name>
    <servlet-name>StudioServlet</servlet-name>
    <servlet-class>controller.studio.StudioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudioServlet</servlet-name>
    <url-pattern>/StudioServlet</url-pattern>
    <url-pattern>/studio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudioServlet</display-name>
    <servlet-name>AddStudioServlet</servlet-name>
    <servlet-class>controller.studio.AddStudioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudioServlet</servlet-name>
    <url-pattern>/AddStudioServlet</url-pattern>
    <url-pattern>/addStudio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudioServlet</display-name>
    <servlet-name>EditStudioServlet</servlet-name>
    <servlet-class>controller.studio.EditStudioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudioServlet</servlet-name>
    <url-pattern>/EditStudioServlet</url-pattern>
    <url-pattern>/editStudio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudioServlet</display-name>
    <servlet-name>DeleteStudioServlet</servlet-name>
    <servlet-class>controller.studio.DeleteStudioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudioServlet</servlet-name>
    <url-pattern>/DeleteStudioServlet</url-pattern>
    <url-pattern>/deleteStudio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TagServlet</display-name>
    <servlet-name>TagServlet</servlet-name>
    <servlet-class>controller.tag.TagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagServlet</servlet-name>
    <url-pattern>/TagServlet</url-pattern>
    <url-pattern>/tag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTagServlet</display-name>
    <servlet-name>AddTagServlet</servlet-name>
    <servlet-class>controller.tag.AddTagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTagServlet</servlet-name>
    <url-pattern>/AddTagServlet</url-pattern>
    <url-pattern>/addTag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTagServlet</display-name>
    <servlet-name>EditTagServlet</servlet-name>
    <servlet-class>controller.tag.EditTagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTagServlet</servlet-name>
    <url-pattern>/EditTagServlet</url-pattern>
    <url-pattern>/editTag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTagServlet</display-name>
    <servlet-name>DeleteTagServlet</servlet-name>
    <servlet-class>controller.tag.DeleteTagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTagServlet</servlet-name>
    <url-pattern>/DeleteTagServlet</url-pattern>
    <url-pattern>/deleteTag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatalogServlet</display-name>
    <servlet-name>CatalogServlet</servlet-name>
    <servlet-class>controller.catalog.CatalogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogServlet</servlet-name>
    <url-pattern>/CatalogServlet</url-pattern>
    <url-pattern>/catalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMovieServlet</display-name>
    <servlet-name>AddMovieServlet</servlet-name>
    <servlet-class>controller.movie.AddMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovieServlet</servlet-name>
    <url-pattern>/AddMovieServlet</url-pattern>
    <url-pattern>/addMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMovieServlet</display-name>
    <servlet-name>EditMovieServlet</servlet-name>
    <servlet-class>controller.movie.EditMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMovieServlet</servlet-name>
    <url-pattern>/EditMovieServlet</url-pattern>
    <url-pattern>/editMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMovieServlet</display-name>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <servlet-class>controller.movie.DeleteMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <url-pattern>/DeleteMovieServlet</url-pattern>
    <url-pattern>/deleteMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>controller.profile.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controller.home.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CountFilter</display-name>
    <filter-name>CountFilter</filter-name>
    <filter-class>filter.CountFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CountFilter</filter-name>
    <url-pattern>/CountFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CountFilter</filter-name>
    <servlet-name>HomeServlet</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>CookieFilter</display-name>
    <filter-name>CookieFilter</filter-name>
    <filter-class>filter.CookieFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CookieFilter</filter-name>
    <url-pattern>/CookieFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CookieFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>controller.profile.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordProfileServlet</display-name>
    <servlet-name>ChangePasswordProfileServlet</servlet-name>
    <servlet-class>controller.profile.ChangePasswordProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordProfileServlet</servlet-name>
    <url-pattern>/ChangePasswordProfileServlet</url-pattern>
    <url-pattern>/changePasswordProfile</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RoleFilter</display-name>
    <filter-name>RoleFilter</filter-name>
    <filter-class>filter.RoleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/RoleFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <servlet-name>DashboardServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <servlet-name>MovieServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <servlet-name>StudioServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <servlet-name>TagServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <servlet-name>RegionServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <servlet-name>ActorServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <servlet-name>CatalogServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <servlet-name>CategoryServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <servlet-name>DirectorServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DetailServlet</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>controller.detail.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>controller.view.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeFilterServlet</display-name>
    <servlet-name>TypeFilterServlet</servlet-name>
    <servlet-class>controller.movie.TypeFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeFilterServlet</servlet-name>
    <url-pattern>/TypeFilterServlet</url-pattern>
    <url-pattern>/typefilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CatalogFilterServlet</display-name>
    <servlet-name>CatalogFilterServlet</servlet-name>
    <servlet-class>controller.catalogfilter.CatalogFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogFilterServlet</servlet-name>
    <url-pattern>/CatalogFilterServlet</url-pattern>
    <url-pattern>/catalogfilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryFilterServlet</display-name>
    <servlet-name>CategoryFilterServlet</servlet-name>
    <servlet-class>controller.categoryfilter.CategoryFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryFilterServlet</servlet-name>
    <url-pattern>/CategoryFilterServlet</url-pattern>
    <url-pattern>/categoryfilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegionFilterServlet</display-name>
    <servlet-name>RegionFilterServlet</servlet-name>
    <servlet-class>controller.movie.RegionFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegionFilterServlet</servlet-name>
    <url-pattern>/RegionFilterServlet</url-pattern>
    <url-pattern>/regionfilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInTheaterServlet</display-name>
    <servlet-name>ShowInTheaterServlet</servlet-name>
    <servlet-class>controller.movie.ShowInTheaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInTheaterServlet</servlet-name>
    <url-pattern>/ShowInTheaterServlet</url-pattern>
    <url-pattern>/showintheater</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmFilterServlet</display-name>
    <servlet-name>FilmFilterServlet</servlet-name>
    <servlet-class>controller.filmfilter.FilmFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmFilterServlet</servlet-name>
    <url-pattern>/FilmFilterServlet</url-pattern>
    <url-pattern>/filmfilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageServlet</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>controller.page.PageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
    <url-pattern>/page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controller.movie.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
    <url-pattern>/searchfilm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>controller.profile.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
    <url-pattern>/userprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmFollowServlet</display-name>
    <servlet-name>FilmFollowServlet</servlet-name>
    <servlet-class>controller.movie.FilmFollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmFollowServlet</servlet-name>
    <url-pattern>/FilmFollowServlet</url-pattern>
    <url-pattern>/filmfollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilmHistoryServlet</display-name>
    <servlet-name>FilmHistoryServlet</servlet-name>
    <servlet-class>controller.movie.FilmHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmHistoryServlet</servlet-name>
    <url-pattern>/FilmHistoryServlet</url-pattern>
    <url-pattern>/filmhistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowServlet</display-name>
    <servlet-name>FollowServlet</servlet-name>
    <servlet-class>controller.movie.FollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowServlet</servlet-name>
    <url-pattern>/FollowServlet</url-pattern>
    <url-pattern>/follow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnfollowServlet</display-name>
    <servlet-name>UnfollowServlet</servlet-name>
    <servlet-class>controller.movie.UnfollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnfollowServlet</servlet-name>
    <url-pattern>/UnfollowServlet</url-pattern>
    <url-pattern>/unfollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryServlet</display-name>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>controller.movie.HistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/HistoryServlet</url-pattern>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieViewServlet</display-name>
    <servlet-name>MovieViewServlet</servlet-name>
    <servlet-class>controller.MovieViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieViewServlet</servlet-name>
    <url-pattern>/MovieViewServlet</url-pattern>
    <url-pattern>/movieview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImageServlet</display-name>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>controller.uploadimage.UploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImageServlet</url-pattern>
    <url-pattern>/uploadimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitServlet</display-name>
    <servlet-name>VisitServlet</servlet-name>
    <servlet-class>controller.home.VisitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitServlet</servlet-name>
    <url-pattern>/VisitServlet</url-pattern>
    <url-pattern>/visit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentServlet</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>controller.comment.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/AddCommentServlet</url-pattern>
    <url-pattern>/addcomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCommentServlet</display-name>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <servlet-class>controller.comment.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommentServlet</servlet-name>
    <url-pattern>/DeleteCommentServlet</url-pattern>
    <url-pattern>/deletecomment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAvatar</display-name>
    <servlet-name>ChangeAvatar</servlet-name>
    <servlet-class>controller.image.ChangeAvatar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAvatar</servlet-name>
    <url-pattern>/ChangeAvatar</url-pattern>
    <url-pattern>/changeavatar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMovieErrorServlet</display-name>
    <servlet-name>AddMovieErrorServlet</servlet-name>
    <servlet-class>controller.movie.AddMovieErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovieErrorServlet</servlet-name>
    <url-pattern>/AddMovieErrorServlet</url-pattern>
    <url-pattern>/addmovieerror</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieErrorServlet</display-name>
    <servlet-name>MovieErrorServlet</servlet-name>
    <servlet-class>controller.movie.MovieErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieErrorServlet</servlet-name>
    <url-pattern>/MovieErrorServlet</url-pattern>
    <url-pattern>/movieerror</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMovieErrorServlet</display-name>
    <servlet-name>EditMovieErrorServlet</servlet-name>
    <servlet-class>controller.movie.EditMovieErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMovieErrorServlet</servlet-name>
    <url-pattern>/EditMovieErrorServlet</url-pattern>
    <url-pattern>/editmovieerror</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministrationServlet</display-name>
    <servlet-name>AdministrationServlet</servlet-name>
    <servlet-class>controller.profile.AdministrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministrationServlet</servlet-name>
    <url-pattern>/AdministrationServlet</url-pattern>
    <url-pattern>/administration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAdministrationServler</display-name>
    <servlet-name>EditAdministrationServler</servlet-name>
    <servlet-class>controller.profile.EditAdministrationServler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdministrationServler</servlet-name>
    <url-pattern>/EditAdministrationServler</url-pattern>
    <url-pattern>/editadministration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdministrationServler</display-name>
    <servlet-name>DeleteAdministrationServler</servlet-name>
    <servlet-class>controller.profile.DeleteAdministrationServler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdministrationServler</servlet-name>
    <url-pattern>/DeleteAdministrationServler</url-pattern>
    <url-pattern>/deleteadministration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdministrationServlet</display-name>
    <servlet-name>AddAdministrationServlet</servlet-name>
    <servlet-class>controller.profile.AddAdministrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdministrationServlet</servlet-name>
    <url-pattern>/AddAdministrationServlet</url-pattern>
    <url-pattern>/addadministration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatisticalServlet</display-name>
    <servlet-name>StatisticalServlet</servlet-name>
    <servlet-class>controller.StatisticalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticalServlet</servlet-name>
    <url-pattern>/StatisticalServlet</url-pattern>
    <url-pattern>/statistical</url-pattern>
  </servlet-mapping>
</web-app>